{% extends "base.html" %}


{% block content %}



{% if request.user.is_authenticated %}


<div class="chat-center-container">
<div class="chat-container">

<!-- Form for Sending Text to Chat -->
<form onsubmit="sendMessage(); return false" method="post">
  {% csrf_token %}
  <!-- Button -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent send">
    Send
  </button>
  <!-- TextField for Message -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" required type="text">
    <label class="mdl-textfield__label" name="textcontent" for="messageField">Text...</label>
  </div>
  <!-- Spinner while Loading -->
  <div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active spinner d-none"></div>
</form>

<!-- Container for Messages -->
<div id="messageContainer">
  {% for message in messages reversed %}
  <div>
    <span class="color-gray">[{{ message.created_at }}]</span> {{ message.author.username }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

</div>
</div>


<style>
.chat-center-container{
  display:flex;
  justify-content:center;
  align-items:center;
}
.chat-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:500px;
}
  form{
    position:relative;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }
  #messageContainer{
    width:100%;
  }
  .textfield{
    margin-top:10px;
  }
  .send {
    margin-right: 15px;
  }
  .page-content{
    padding:100px 100px;
  }
  .color-gray{
    color: rgba(0,0,0,0.4);
  }
  .color-red{
    color: rgba(252, 4, 4, 0.4);
  }
  .spinner {
    position:absolute;
    right:14px;
  }
  .d-none{
    display:none;
  }
</style>


<script>
/**
 * Array with Names of all months
 */
 const monthNames = ["Jan.","Feb.","Mar.","Apr.","May.","Jun.","Jul.","Aug.","Sep.","Oct.","Nov.","Dec."];

  async function sendMessage() {

    let fd = new FormData(); //FormData-Objekt generieren das im Body mitgesendet wird
    let token = '{{ csrf_token }}'; //Token generieren
    fd.append('textmessage', messageField.value); //FormData-Objekt enthält die Variable textmessage
    fd.append('csrfmiddlewaretoken', token); //Token muss auch mitgesendet werden
    let messageContainerSaved = messageContainer.innerHTML;
    let dateOfPost = giveActualDate(); //Get actual Date

    //POST-Request an URL chat; Body: Form-Data; Wir müssen warten, deswegen await
    try {
      
      document.getElementById('spinner').classList.remove('d-none'); //Show Spinner

      //FAKE-POSTING
      messageContainer.innerHTML=`
      <div id="deleteMessage">
        <span class="color-gray">${dateOfPost}</span> {{ request.username }}: <i class="color-gray">${messageField.value}</i>
      </div>`+messageContainerSaved;

      //POST TO SERVER AND AWAITING ANSWER
      let response = await fetch('/chat/', {
        method: 'POST',
        body: fd
      });
      
      let json = await response.json();
      let jsonparsed = JSON.parse(json); //Now we have a real JSON

      console.log('Response is ',response);
      console.log('Json is ',json);
      console.log('JsonParsed is ',jsonparsed);
      console.log('JsonParsed is ',jsonparsed.fields.text);
      console.log('JsonParsed is ',jsonparsed.fields.created_at);
      console.log('JsonParsed is ',transformDateIntoGermanFormat(jsonparsed.fields.created_at));
      console.log('JsonParsed is ',jsonparsed.fields.author['0']);

      document.getElementById('deleteMessage').remove(); //Remove FAKE-POSTING
      messageField.value =''; //Empty Input-Field
      document.getElementById('spinner').classList.add('d-none'); //Hide Spinner
      
      //REAL-POSTING
      messageContainer.innerHTML=`
      <div>
        <span class="color-gray">[${transformDateIntoGermanFormat(jsonparsed.fields.created_at)}]</span> ${jsonparsed.fields.author['0']}: <i>${jsonparsed.fields.text}</i>
      </div>`+ messageContainerSaved;
      console.log('Success!');
    }
    catch (e) { 
      //console.log('Error occurred!', e);
      messageContainer.innerHTML=`
      <div id="deleteMessage">
        <span class="color-red">${dateOfPost}</span> {{ request.username }}: <i class="color-red">${messageField.value}</i>
      </div>`+messageContainerSaved;
    }
  }

  
function giveActualDate(){
var currentdate = new Date();  /* Erzeugt eine Datums-Variable mit aktuellem Datum */ 
var datetime =  "[" + currentdate.toLocaleString('default', { month: 'short' }) + ". "
                + currentdate.getDate() + ", "   /* Month */
                + currentdate.getFullYear() + "]";  /* Year */  
                return datetime;
}

/**
 * Receives a string-variable in the format "2010-10-30" and converts it into string "Oct. 10, 2010"
 * @param {string} datetotransform The received string-variable
 * @returns string-variable datumZusGesetzt
 */
 function transformDateIntoGermanFormat(datetotransform) {
	let datum = datetotransform;
	let ersterstrich = datum.indexOf("-");
	let zweiterstrich = datum.lastIndexOf("-");
	let jahr = datum.slice(0, ersterstrich);
	let monat = datum.slice(ersterstrich + 1, zweiterstrich);
  if (monat.length == 2 && monat.slice(0,0) == '0') {
		monat = monat.slice(1,1);
	}
  monat=monthNames[monat-1];
	let tag = datum.slice(zweiterstrich + 1, datum.length);
  if (tag.length == 2 && tag.slice(0,1) == '0') {
		tag = tag.slice(-1);
	}
	let datumZusGesetzt = monat + " " + tag + ", " + jahr;
	return datumZusGesetzt;
}


</script>


{% else %}
<h1>Nicht eingeloggt</h1>
<p>
  Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br>
  Bitte klicke <a href="/login/"> hier</a>
</p>
{% endif %}


{% endblock %}