{% extends "base.html" %}
{% block content %}

{% if request.user.is_authenticated %}
<form onsubmit="sendMessage(); return false" method="post">
  {% csrf_token %}
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField">
    <label class="mdl-textfield__label" name="textcontent" for="messageField">Text...</label>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Send
  </button>
</form>


<div id="messageContainer">
{% for message in messages reversed %}
<div>
  <span class="color-gray">[{{ message.created_at }}]</span> {{ message.author.first_name }}: <i>{{ message.text }}</i>
</div>
{% endfor %}
</div>

<script>

  async function sendMessage() {
    let fd = new FormData(); //FormData-Objekt generieren das im Body mitgesendet wird
    let token = '{{ csrf_token }}'; //Token generieren
    fd.append('textmessage', messageField.value); //FormData-Objekt enthält die Variable textmessage
    fd.append('csrfmiddlewaretoken', token); //Token muss auch mitgesendet werden
    let messageContainerSaved = messageContainer.innerHTML;
    //POST-Request an URL chat; Body: Form-Data; Wir müssen warten, deswegen await
    try {
      let dateOfPost = giveActualDate();
      messageContainer.innerHTML=`
    <div id="deleteMessage">
      <span class="color-gray">${dateOfPost}</span> {{ request.user.firstname }}: <i class="color-gray">${messageField.value}</i>
    </div>`+messageContainerSaved;

      let response = await fetch('/chat/', {
        method: 'POST',
        body: fd
      });
      console.log('Response is ',response);

      let json = await response.json();
      let jsonparsed = JSON.parse(json);

      console.log('Json is ',json);
      console.log('JsonParsed is ',jsonparsed);
      console.log('JsonParsed is ',jsonparsed.fields.text);
      console.log('JsonParsed is ',jsonparsed.fields.created_at);

      document.getElementById('deleteMessage').remove(); //Element wird nach der Antwort durch das Backend entfernt
      messageContainer.innerHTML=`
    <div>
      <span class="color-gray">${dateOfPost}</span> {{ request.user.firstname }}: <i>${messageField.value}</i>
    </div>`+messageContainerSaved;
      console.log('Success!');
    }
    catch (e) { 
      console.log('Error occurred!', e);
      messageContainer.innerHTML=`
    <div id="deleteMessage">
      <span class="color-gray">${dateOfPost}</span> {{ request.user.firstname }}: <i class="color-gray">${messageField.value}</i>
    </div>`+messageContainerSaved;
    }
  }

function giveActualDate(){
var currentdate = new Date();  /* Erzeugt eine Datums-Variable mit aktuellem Datum */ 
var datetime =  "[" + currentdate.toLocaleString('default', { month: 'short' }) + ". "
                + currentdate.getDate() + ", "   /* Monat */
                + currentdate.getFullYear() + "]";  /* Jahr */  
                return datetime;
}

</script>



{% else %}
<h1>Nicht eingeloggt</h1>
<p>
  Du bist aktuell nicht eingeloggt. Bitte logge dich ein.<br>
  Bitte klicke <a href="/login/"> hier</a>
</p>
{% endif %}

{% endblock %}