{% extends "base.html" %}
{% load static %}

{% block content %}
<script>
  let username = '{{ request.user.username }}';
  let token = '{{ csrf_token }}';
</script>
<script src="{% static 'js/chat.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/chat.css' %}">


{% if request.user.is_authenticated %}


<div class="chat-center-container">
<div class="chat-container">

<!-- Form for Sending Text to Chat -->
<form onsubmit="sendMessage(); return false" method="post">
  {% csrf_token %}
  <!-- Button -->
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent send">
    Send
  </button>
  <!-- TextField for Message -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield">
    <input class="mdl-textfield__input" name="textmessage" type="text" id="messageField" type="text">
    <label class="mdl-textfield__label" name="textcontent" for="messageField">Text...</label>
  </div>
  <!-- Spinner while Loading -->
  <div id="spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active spinner d-none"></div>
</form>

<!-- Container for Messages -->
<div id="messageContainer">
  {% for message in messages reversed %}
  <div>
    <span class="color-gray">[{{ message.created_at }}]</span> {{ message.author.username }}: <i>{{ message.text }}</i>
  </div>
  {% endfor %}
</div>

</div>
</div>

{% else %}
<h1>Nicht eingeloggt</h1>
<p>
  At this time you are not logged in. Please log in.<br>
  Please click <a href="/login/"> here</a>
</p>
{% endif %}

{% endblock %}